.header__wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 50px;
}

.header__logo {
  margin: 0 48px;
}

.header__search {
  display: flex;
  align-items: center;
  min-width: 620px;
  height: 39px;
  border: 1px solid #31363a;  
  border-radius: 4px;
  margin-right: auto;
}

.header__search__input {
  min-width: 100%;
  min-height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 5px;
}

.header__search > .MuiSvgIcon-root {
  padding: 20px;
}

.header__search > input::placeholder {
  font-weight: 600;
  color: white;
}

.header__searchContainer > input:focus {
  outline: none;
}

.header__menuItems {
  margin-right: 48px;
}

.header__menuItems a {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  white-space: nowrap;
}

.header__menuItems a:hover,
.header__menuItems a:active {
  color: #5ac53b;
}

a:first-of-type {
  color: #5ac53b;
}

.header__search_input {
  min-height: 100%;
}
