.stats {
    /* border: 2px solid rgba(255,255,255,0.3); */
    margin-left: 100px;
    height: 530px;
}   

.stats__container {
    height: 530px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.stat {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    cursor: pointer;
    padding: 25px 50px;
    margin-bottom: 10px;
}

